psycopg2==2.9.10
alembic==1.15.2
sqlmodel==0.0.24
python-dotenv==1.1.0
bcrypt==4.1.2
passlib[bcrypt]==1.7.4
pyjwt==2.10.1
fastapi[standard]
gunicorn
httptools==0.7.1
mmh3==5.2.0
redis==5.0.1
debugpy==1.8.0